<div id="contractBasicDetailSection" class="container mb-5 cTable">
  <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto cSectionWidth">
    <h3 class="mb-4">Contract Basic Details</h3>
  </div>
  <center>
    <table class="table table-striped table-responsive-md detailTable">
      <tbody>
        <tr>
          <td>
            <span>
                Contract Address
            </span>
          </td>
          <td>
            <span class="nav-link noPaddingLeft">{{contractAddress}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>
                Created By:
            </span>
          </td>
          <td>
                <span class="nav-link noPaddingLeft">{{account}}</span>
          </td>
        </tr>
        <tr>
          <td>
            <span>
                Contract Name
            </span>
          </td>
          <td>
            <span class="nav-link noPaddingLeft">{{contractName}}</span>
          </td>
        </tr>

        <tr>
          <td>
            <span>
                Block Number
            </span>
          </td>
          <td>
            <span class="nav-link noPaddingLeft">{{blockNumber}}</span>
          </td>
        </tr>

        <tr>
          <td>
            <span>
                Age
            </span>
          </td>
          <td>
            <span class="nav-link noPaddingLeft">{{age}}</span>
          </td>
        </tr>

        <tr>
          <td>
            <span>
                Balance
            </span>
          </td>
          <td>
            <span class="nav-link noPaddingLeft">{{balance}} Ether</span>
          </td>
        </tr>

        <tr>
          <td>
            <span>
                ERC20 Tokens
            </span>
          </td>
          <td>
              {{#ifNotEquals erc20s.length 0}}
              <a class="nav-link dropdown-toggle cViewTokens noPaddingLeft" href="https://designrevision.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Click to view
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {{#each erc20s}}
                <a class="dropdown-item tDropDownItemLink" href="/contract.html#{{tokenAddress}}" target="_blank">
                  <ul class="tDropDownItem">
                    <li>{{name}}</li>
                    <li class="cTokenBalanceSub"><sub>{{balance}} {{symbol}}</sub>
                    </li>
                  </ul>
                </a>
                {{/each}}
              </div>
              {{/ifNotEquals}}
          </td>
        </tr>


      </tbody>
    </table>
  </center>
</div>

<div id="transactions" class="container mb-5 cTable">
    <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto cSectionWidth">
      <h3 class="mb-4">Transactions</h3>
    </div>

    <div id="txnTable" class="example col-md-10 ml-auto mr-auto">

    </div>
</div>
